.row.row-cols-sm-1.row-cols-md-3.row-cols-lg-4.g-5
  - @foods.each do |food|
    .col.mb-4
      = link_to food_path(food), class: 'text-decoration-none' do
        .card
          .card-body
            .fs-5.card-title.fw-bold= food.name
            .fs-6.card-text #{number_to_currency(food.price)}(税込)
